@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Rock+Salt&family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(god-of-war-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}


.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cabecalho-imagem {
    height: 100px;
}

.cabecalho-menu {
    display: flex;
    gap: 20px;
    padding-left: 400px;
}

.cabecalho-menu-item {
    font-family: 'Silkscreen', cursive;
    font-weight: 500;
    font-size: 18px;
    color: red;
}

.conteudo {
    margin-bottom: 80px;
    border-top: 2px solid #ffff;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Caesar Dressing', cursive;
    font-weight: 400;
    font-size: 100px;
    color: rgb(255, 0, 0);
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Caesar Dressing', cursive;
    font-weight: 400;
    font-size: 40px;
    color: red;
}

.conteudo-principal-escrito-botao {
    background-color: rgb(255, 0, 0);
    width: 150px;
    height: 50px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0);
    border-radius: 200px;
    font-family: 'Caesar Dressing', cursive;
    font-weight: 400;
    font-size: 25px;
    color: azure;
}

.conteudo-principal-video {
    height: 400px;
    margin-top: 10px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.conteudo-secundario-titulo {
    border-top: 1.5px solid azure;
    padding-top: 4px;
    font-family: 'Caesar Dressing', cursive;
    font-weight: 400;
    font-size: 35px;
    color: azure;
}

.conteudo-secundario-paragrafo {
    font-family: 'Caesar Dressing', cursive;
    font-weight: 300;
    font-size: 20px;
    color: azure;
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}

.rodape {
    padding: 12px;
    border-top: 1.5px solid azure;
}

footer{
    font-size: 100%;
    background: linear-gradient(45deg, #081C69, #000000);
    animation: color 15s ease infinite;
}

.rodape-imagem{
    height: 100px;
    display: block;
    margin: 0 auto;
}